h2 {
  font-size: 20px;
}
.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.mainSearch {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #212529;
  margin: 1rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  
}

.tituloCategorias {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: calc(100% - 300px);
  align-items: center;
  border-radius: 25px;
  font-size: small;
  padding: 0.55rem;

}

.categories h2 {
  color: #e8e5e5ef;
  font-size: 15px;
}

.dateSection {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 10px;
}

.searchIcon {
  color: #fffdfd;
  font-size: 23px;
}
.searchIcon:hover{
  color: rgb(0, 137, 254);
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  color: white;
  width: 100%;

}

.dateLabel {
  margin-bottom: 5%;
  color: #f0f0f0ee;
  padding: 5px;
  font-size: 15px;
}

.labelH2 {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.searchBtn {
  color: white;
  border: none;
  background-color: #212529;
  border-radius: 5px;
  cursor: pointer;
  padding: 9px;
}

.searchInput::placeholder {
  color: rgb(210, 209, 209);
  /* Cambia el color del placeholder */
}

@media (max-width: 1300px) {
  .mainSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .categories {
    width: 90vw;
  }

  .categories h2 {
    font-size: medium;
  }
  .dateLabel {
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .dateSection{
    width: 75%;
    max-width: 600px;
    margin: 10px 0;
  }
}