h2 {
  font-size: 20px;
}

.mainSearch {
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 1rem;
  background-color: #273c91ea;
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.tituloCategorias {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;

}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  border-radius: 25px;
  font-size: small;
  /* background-color: rgba(30, 30, 30, 0.9); */
  padding: 0.55rem;

}

.categories h2 {
  color: #e8e5e5ef;
  font-size: 15px;

}

.dateSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 2rem; */
  /* height: 90%; */
  width: 200px;
  border-radius: 5%;
  padding: 0.3rem;
  border: 1px solid #9e9fa0;

}

.searchIcon {
  color: #fffdfd;
  font-size: 23px;
}

.searchInput {
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  font-size: 1rem;
  color: white;
  width: 100%;

}


.dateLabel {
  margin-bottom: 5%;
  color: #f0f0f0ee;
  padding: 5px;
  font-size: 15px;
}

.labelH2 {
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}

.searchBtn {
  text-decoration: none;
  background: rgba(0, 137, 254, 1) 100%;
  color: white;
  border: none;
  border-radius: 18%;
  cursor: pointer;
  padding: 9px;
  align-items: center;
  margin-top: 10px;
}

.searchInput::placeholder {
  color: rgb(210, 209, 209);
  /* Cambia el color del placeholder */
}

@media (max-width: 1300px) {
  .mainSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  .categories {
    width: 90vw;
  }

  .categories h2 {
    font-size: medium;
  }
  .dateLabel {
    margin-top: 1%;
    margin-bottom: 1%;
  }
}